<%- model_class = SendDocument -%>
<%= render :partial => 'navBar' %>

    <% if !@send_document.errors.empty? %>
      <div class="alert alert-error">
        <ul>
          <% @send_document.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
	
	<div class="well">
	  <%= form_for @send_document, html: { multipart: true } do |f| %>
	    <%= f.label :subject %>
	    <%= f.text_field :subject %>
	    <%= f.label :description %>
	    <%= f.text_area :description %>
	    <%= f.label :attachment %>
	    <%= f.file_field :attachment %><br/>
	    <%= f.submit "Submit for approval", class: "btn btn-primary" %>
	    <%= link_to "Cancel", books_path, :class => 'btn' %>
	  <% end %>
	</div>
	</div>
</div>
