<!DOCTYPE html>
<html>
<head>
  <title>BlueBooks</title>
  <%= stylesheet_link_tag    "application", :media => "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<div class="container">
    <%-#t '.title', :default => model_class.model_name.human.pluralize.titleize -%>
    <table width="100%">
      <tr>
        <td><h1 style="color: #577492"> Blue Books </h1></td>
        <td style="text-align:right"><img src="/app/assets/division_safety.png" style="height:80px" /></td>
      </tr>
    </table>
    <hr>

    <p class="navbar-text pull-right navbar-inverse" style="margin-right:20px">
    <% if member_signed_in? %>
      Hello, <strong><%= current_member.first_name %></strong>.
      <%= link_to 'Edit profile', edit_member_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_member_session_path, method: :delete, :class => 'navbar-link'  %>
    <% end %>



<%= yield %>

</body>
</html>
