<%- model_class = Member -%>

<div class="container">
  <%= render :partial => 'navBar' %>


    <%= form_tag search_path, :method => 'get' do %>
    
    <table>
      <tr>
        <td>
        <h6> Search for an existing member</h6>
        <hr>
      </td>
      </tr>
      <tr>
        <td><%= model_class.human_attribute_name(:first_name) %><br>
            <%= text_field_tag :fnsearch, params[:fnsearch]%>
        </td>
        <td><%= model_class.human_attribute_name(:last_name) %><br>
            <%= text_field_tag :lnsearch, params[:lnsearch]%>
        </td>
        
      </tr>
      <tr>
        <td><%= model_class.human_attribute_name(:pennkey) %><br>
            <%= text_field_tag :pksearch, params[:pksearch]%>
        </td>    
        <td><%= model_class.human_attribute_name(:email_address) %><br>
            <%= text_field_tag :easearch, params[:easearch]%>
        </td>
      </tr>
      <tr>
        <td>
          <%= submit_tag "Search", :name => nil, :class => "btn btn-default" %>
        </td>
      </tr>
      
    </table>

    
    <% end %>
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:id) %></th>
          <th><%= model_class.human_attribute_name(:pennkey) %></th>
          <th><%= model_class.human_attribute_name(:first_name) %></th>
          <th><%= model_class.human_attribute_name(:last_name) %></th>
          <th><%= model_class.human_attribute_name(:email_address) %></th>
          <th><%= model_class.human_attribute_name(:school_id) %></th>
          <th><%= model_class.human_attribute_name(:group_id) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        
        <% unless @members.nil? %>
         <% @members.each do |member| %>
          <tr>
            <td><%= link_to member.id, member_path(member) %></td>
            <td><%= member.pennkey %></td>
            <td><%= member.first_name %></td>
            <td><%= member.last_name %></td>
            <td><%= member.email_address %></td>
            <td><%= member.school.name %></td>
            <td><%= member.group.name %></td>
            <td>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_member_path(member), :class => 'btn btn-mini' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          member_path(member),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' %>
            </td>
          </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>

    
  </div>
</div>